body {

}

#map {
	width: 65%;
	min-width: 300px;
	height: 500px;
	display: inline-block;
	float: left;
	border: 1px solid #B17F1A;
}


#info-box {
	width: 25%;
	min-width: 250px;
	height: 500px;
	float: left;
	margin: 5px;
	margin-top: 0px;
	border: 1px solid #B17F1A;
}

#info-header {
	width: 100%;
	height: 60px;
	margin: 0px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	text-align: center;
}

#default-text {
	margin: auto;
	margin-bottom: 0px;
	padding-top: 22px;
	font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
	opacity: 0.8;
}

#school-name {
	padding-top: 8px;
	padding-bottom: 3px;
	margin: 0px;
}

#district-name {
	padding-top: 6px;
	margin: 0px;
}

#info-content {
	height: 430px;
	width: 100%;
	/*background-color: #F0F0F0;*/
	opacity: 0.7;
	margin: 0px;
	margin-top: 10px;
	/*border: 1px solid lightgray;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
*/
}

.unselected {
	color: #808080;
}

.selected {
	color: #B17F1A;
}

.school-info-element {
	height: 30px;
	border-top: 1px solid #B17F1A;
	border-collapse: collapse;
}

.school-info-last {
	border-bottom: 1px solid #B17F1A;
}

.school-info-even {
	
}

.field-title {
	padding-top: 5px;
	padding-left: 5px;
	float: left;
	/*color: #1AA420;*/
	color: #006d2c;
}

.field-value {
	padding-top: 5px;
	padding-left: 5px;
	float: left;
	margin-left: 5px;
	opacity: 0.8;
	color: #006d2c;
}

.school-info-odd {
	background-color: #E6E6E6;
}

.info-selected {
	height: 40px;
	width: 340px;
	padding-left: 10px;
	padding-top: 5px;
}

#hours-chart {
	width: 90%;
	height: 290px;
	margin: 10px;
}

.highcharts-title {
	font-family: "Palatino Linotype", "Book Antiqua", "Palatino", serif;
	font-size: 16px !important;
}

.highcharts-title tspan {
}

#container {
/*	margin: 10px auto;
*/	width: 100%;
	height: 400px;
}
