/* main.css */

#container {
	width: 100%;
	height: 100%;
	text-align: center;
}

#chart {
	width: 700px;
	height: 500px;
	margin: auto;
}

#dropdown {
	height: 50px;
	width: 150px;
	margin: auto;
}

#valVar {
	width: 100px;
	height: 140px;
}